@font-face {
    font-family: PrincipalFont;
    src: url(assets/Fonts/Awesome\ Serif\ Italic\ VAR-VF.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: clip;
    font-family: PrincipalFont;
}
:root {
    --primary-color: #124EEC;
    --secondary-color: #F5F5F5;
}

.cover{
    width: 100vw;
    height: 100vh;
    background-image: url(assets/img/Background.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.logoplacement{
    width: clamp(180px, 65vw, 225px);
    margin-top: 30px;
}
.logoplacement img{
    width: 100%;
}
.webdescription{
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 60px;
    mix-blend-mode: difference;
    width: 100%;
    line-height: 40px;
}
.webdescription h2{
    font-size: clamp(25px, 16vw, 45px);
    font-weight: 100;
}
.webdescription h3{
    font-size: 18px;
    font-weight: 100;
}